@media screen and (max-width: 460px) {
   
  
   .input-w {
   
    position: relative;
    width: 90%;
    height: 55px;
    top: 2%;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
}
   .user-input{
    color: black;
    border-left: none;
    outline-style: none;
   }
   .icon-user{
    color: #3052ac;
    background-color: transparent;
    
   }
   .login-useicon{
    height: 18.985885px;
width: 16.193748474121094px;
left: 52px;
top: 218.36114501953125px;
border-radius: 0px;

   }
 
.link{
    text-decoration: none;
    color: white;
}
.login-next-btn-container{
    position: relative;
    top: 5vh;
    width: 100%;
    height: 55px;
    
}
.login-next-btn{
   position: absolute;
   width: 90%;
   left: 5%;
   
   height: 55px;
   
   background: #2552B2;
   

box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;
}
.login-next-btn-text{
    position: absolute;
    font-family: 'Manrope';
    left:45%;
    top:25%;
font-style: normal;
font-weight: 600;
font-size: 17px;

}
.form-control:focus{
        outline: none !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-color: white;
        flex: auto;
    
}
}