@media screen and (max-width: 435px) {
   .login-top{
    background-color: #2552B2;
    height: 23vh;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    
   }
   .login-text{
    color: azure;
    /* font-size: 27px;
    padding: 5px;
    margin-left: 2rem; */
    font-style: normal;
font-weight: 400;
font-size: 36px;


color: #FFFFFF;
   }
   .input-w{
    width: 80%;
    margin: 0 10%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
   }
   .user-input{
    color: black;
    border-left: none;
    outline-style: none;
   }
   .icon-user{
    color: #3052ac;
    background-color: transparent;
    
   }
   .login-useicon{
    height: 18.985885px;
width: 16.193748474121094px;
left: 52px;
top: 218.36114501953125px;
border-radius: 0px;

   }
   .next-btn{
    width: 80%;
    margin: 0 10%;
    
   }
   .next-btn button{
    border-radius: 3rem;
    
    height: 40px;
    border: none;
    background: #2552B2;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;
   }
}
.link{
    text-decoration: none;
    color: white;
}