@media screen and (max-width: 460px) {
  .room-name-cont {
    display: flex;
    align-items: center;

    position: relative;
    top: 25%;
    left: 5%;
    margin-top: 2%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 45px;
    max-width: 90%;
  }
  .SwitchBoard-container {
    position: relative;
    width: 100%;
    /* margin-top: 2%; */
    scrollbar-width: none;

    left: 0;
    top: 1vh;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 22px;
    color: #000000;
    overflow-y: auto;
    /* max-height: 48vh;  */
  }
  .background-blue {
    border-color: #3052ac;
  }
  .border-colors{
    border-color: transparent;
  }
  .room-name-cont::-webkit-scrollbar {
    width: 0;
  }
  .SwitchBoard-container::-webkit-scrollbar {
    width: 0;
  }
  .room-name-btn {
    /* position: relative; */
    width: 130px;
    height: 36px;
    /* left: 0;
    top: 0; */
    margin-right: 3vw;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    background: #ffffff;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .room-name-btn-txt {


    color: #000000;
  }
  .input-roomName {
    border: none;
    border-radius: 30px;
    padding-left: 15px;
    width: 35vw;
    outline: none;
  }
  .swichBoard-data {
    position: relative;
    width: 90%;
    left: 5%;
    margin-top: 2%;

    
  }
  .roomDetails-SwitchBoard-delete-btn{
    
   position: absolute;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
    border-radius: 50%;
    right: 1%;
    
    width: 8%;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  }
  /* .switchBoard-container {
    overflow-y: auto;
    max-height: 25vh;
  } */
  .room-add-switchBoard {
    display: flex;
    position: relative;
    align-items: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 7px;
    margin-top: 2%;
    margin-right: 22%;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    width: 90%;
    height: 55px;
    left: 5%;
    padding: 2px;
    font-weight: 400;
  
  }
  .plus-img {
    height: 19px;
    width: 19px;
    margin-left: 59%;
    margin-bottom: 37%;
  }
  .room-add-switchBoard-icon {
    margin-left: 3%;
    margin-top: 0.3rem;
  }
  .room-add-switchBoard-title {
    margin-left: 14%;
    font-weight: 600;
  }
  .room-details-bottom-cont {
    color: aliceblue;

    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 76px;
    width: 90%;
    margin-top: 22%;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
  }
  .room-details-bottom-top {
    background-color: #072370;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 3%;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    height: 24%;
  }
  .room-details-bottom-botCon {
    background-color: #3052ac;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}
