@media screen and (max-width: 460px) {
  /* .summary-d-c {
    position: relative;
    width: 100vw;
    height: 1829px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #ffffff;
  } */
  .summary-title-cont {
    position: relative;
    margin-bottom: 5%;
    width: 100%;
    height: 158px;
    

    background: #3052ac;
    border-radius: 0px 0px 31px 31px;
  }
  .summary-title-inner {
    position: absolute;
    width: 90%;
    height: 98px;
    left: 7%;
    top: 47px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;

    color: #ffffff;
  }
  .summary-rooms-cont {
    margin-top: 8%;
    width: 100vw;
    height: fit-content;
    
    
    
  }
  .summary-rooms-inner-cont {
    position: relative;
    width: 90%;
    left: 5%;
    height: fit-content;
    margin-bottom: 5vh;
    padding: 4% 0%;
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }
  .summary-room-details {
    position: relative;
    
    height: 6vh;
    
    
  }
  .summary-room-name {
    position: absolute;
    width: fit-content;
    height: 23px;
    left: 5%;
    top:15%;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
}
.summary-room-cutomize {
  position: absolute;
  width: 55px;
  background-image: u;
  height: 15px;
  left: 5%;
  top:60%;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #747474;
}
.summary-room-money {
  position: absolute;
  width: 52px;
  height: 21px;
  top:20%;
  right:5%;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: #000000;
}
.summary-room-frequantBuy-conyainer{
  
  width: 100%;
  
  
}
.summary-room-frequantBuy-tit {
  position: relative;
  width: 90%;
  height: 23px;
  left: 5%;
  top: 0px;
  margin-bottom: 5%;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #000000;

}

.summary-room-frequantBuy-product{
  display: flex;
  
  height: 107px;
  width: 90%;
  margin-left: 5%;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.summary-room-frequantBuy-product-img{
      display: flex;
      
      align-items: center;
      justify-content: center;
       
      width: 40%;
      background: rgba(48, 82, 172, 0.25);
border-radius: 12px 0px 0px 12px;

      
}
.summary-room-frequentBuy-inner-cont{
  width: 60%;
}

.summary-room-frequentBuy-inner-title{
  position: relative;
  width: 80%;
  
  height: 23px;
  left:10%;
  top: 8%;
  
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  
  color: #000000;
}
.summary-room-frequentBuy-inner-subtitle{
  position: relative;
  width: 80%;
  width: 155px;
  height: 23px;
  left:10%;
  top: 12%;
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;

color: #747474;
}
.summary-room-frequentBuy-inner-bottom{
  position: relative;
  width: 70%;
  height: 23px;
  left:10%;
  top: 25%;
  display: flex;
  justify-content: space-between;
}
.summary-room-frequentBuy-inner-bottom-perMonth{
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  
  color: #000000;
}
.summary-room-frequentBuy-inner-bottom-btn{
  width: 72px;
  height: 22px;
  left: 255px;
  top: 556px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 15px;
vertical-align: middle;
line-height: 21px;

color: #000000;
}
.summary-room-offer-discount-container{
      width: 100%;
      margin-top: 5%;
}
.summary-room-offer-discount-title{
  position: relative;
  width: fit-content;
  left:8%;
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;
margin-bottom: 5%;

color: #000000;
}
.summary-room-offer-discount-main-container{
  position: relative;
  width: 90%;
  left:5%;
  height: 81px;
  background: linear-gradient(269.93deg, #189E71 -18.76%, rgba(24, 158, 113, 0.609375) 23.38%, rgba(24, 158, 113, 0.257671) 69.25%, rgba(24, 158, 113, 0.0767225) 100.23%, rgba(24, 158, 113, 0) 100.24%);
filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
border-radius: 12px;
}
.summary-room-offer-discount-main-container-money{
  position: absolute;
width: fit-content;
height: 23px;
left: 3%;
top: 25%;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;

color: #267245;
}
.summary-room-offer-discount-main-container-promocode{
  position: absolute;
width: fit-content;
height: 23px;
left: 3%;
top: 58%;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;

color: #267245;
}
.summary-room-installation-main-container{
  position: relative;
  width: 90%;
  left:5%;
  height: 81px;
  background: linear-gradient(270.02deg, #3052AC -10.99%, rgba(179, 192, 225, 0.365562) 101.56%, rgba(210, 217, 237, 0.21875) 101.57%, rgba(255, 255, 255, 0) 101.58%);
filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
border-radius: 12px;
}
.summary-room-offer-installion-main-container-promocode{
  position: absolute;
width: fit-content;
height: 23px;
left: 3%;
top: 25%;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;

color: #3052AC;
}
.summary-room-offer-installion-main-container-money{
  position: absolute;
width: fit-content;
height: 23px;
left: 3%;
top: 48%;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;

color: #3052AC;
}
.summary-room-bill-details-container{
  width: 100%;
}
.summary-room-bill-details-container-inner{
  position: relative;
  width: 90%;
  left:5%;
  background: #FFFFFF;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
padding-bottom: 2%;

}
.summary-room-bill-details-container-inner-upper{
  position: relative;
  width: 92%;
  left:3%;
  top:1.5vh;
}
.summary-room-bill-details-container-inner-upper-bills{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.summary-room-bill-details-container-inner-upper-bills .inner,
.summary-room-bill-details-container-line-cont-details .inner{
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 23px;

color: #000000;
}
.summary-room-bill-details-container-inner-upper-bills .inner1,
.summary-room-bill-details-container-line-cont-details .inner1{
  
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-align: right;

color: #000000;
}

.line {
  margin: 2px 0;
  height: 1.5px;
  background: repeating-linear-gradient(
    to left,
    transparent,
    transparent 10px,
    #A8A8A8 10px,
    #A8A8A8 20px
  );
  /*10px transparent then 10px black -> repeat this!*/
}
.summary-room-bill-details-container-line-cont{
  margin-top: 7%;
  margin-left: 3%;
  
}
.summary-room-bill-details-container-line-cont-details{
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 10px 0px;
}
.pay-to-inner{
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;

color: #000000;
}
.summary-roam-payment-plan-conainer{
  
}
}
