@media screen and (max-width: 460px) {
  .summary-d-c {
    position: relative;
    width: 100vw;
    height: 1829px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #ffffff;
  }
  .summary-title-cont {
    margin-bottom: 5%;
    width: 100vw;
    height: 172px;
    

    background: #3052ac;
    border-radius: 0px 0px 31px 31px;
  }
  .summary-title-inner {
    position: absolute;
    width: 338px;
    height: 98px;
    left: 33px;
    top: 47px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;

    color: #ffffff;
  }
  .summary-rooms-cont {
    
    width: 345px;
    height: 14%;
    margin: auto;
    
  }
  .summary-rooms-inner-cont {
    position: absolute;
    width: 345px;
    height: fit-content;
    /* left: 22px;
top: 200px; */

    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }
  .summary-room-details {
    position: relative;
    margin-top: 2%;
    height: 6vh;
    
  }
  .summary-room-name {
    position: absolute;
    width: fit-content;
    height: 23px;
    left: 3%;
    top: 13%;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
}
.summary-room-cutomize {
  position: absolute;
  width: 55px;
  height: 15px;
  left: 3%;
  top: 52%;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #747474;
}
.summary-room-money {
  position: absolute;
  width: 52px;
  height: 21px;
  
  right: 5%;
  top: 21%;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: #000000;
}
.summary-room-frequantBuy-conyainer{
  margin: auto;
  width: 345px;
}
.summary-room-frequantBuy-tit {
  width: 231px;
  height: 23px;
  left: 33px;
  top: 439px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 5vh;
}
.summary-room-frequantBuy-title{
  
}
.summary-room-frequantBuy-product{
   display: flex;
   width: 107px;
height: 146px;
background: rgba(48, 82, 172, 0.25);
border-radius: 12px 0px 0px 12px;
}
.summary-room-frequantBuy-product-img{

}
}
